html,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth !important; }

body {
  margin: 0;
  text-align: center;
}

div {
  font-family: Montserrat;
}

p {
  font-family: Roboto;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/font/Roboto/Roboto-Regular.ttf);
}

.nav-bg {
  background-color: #092532;
  color: #89c9b8;
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a,
a:hover,
a:visited,
a:focus {
  color: #89c9b8 !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;

  display: inline-block;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #89c9b8;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

ul li {
  list-style: none;
}

.header-container {
  background-color: #092532;
  height: 500px;
  width: 100%;
  padding: 20px;
  color: #89c9b8;
  text-align: center;
}

.profile-pic {
  border-radius: 100%;
}

.website-builder {
  border-radius: 10px;
}

.header-container > div {
  width: 30%;
  margin: 20px auto;
}

.biography-container {
  background-color: #89c9b8;
  height: 350px;
  width: 100%;
  padding: 20px;
  color: #092532;
  text-align: center;
}

.biography-container > div {
  width: 30%;
  margin: 20px auto;
}

.education-container {
  background-color: #89c9b8;
  height: 350px;
  width: 100%;
  padding: 20px;
  color: #092532;
}

.education-container > div {
  width: 30%;
}

.skill-container {
  background-color: #89c9b8;
  height: 350px;
  width: 100%;
  padding: 20px;
  color: #092532;
}

.skill-container > div {
  width: 30%;
}

.img-pd-5 {
  padding: 0 0 0 5%;
}

.transform-none,
.transform-none:hover {
  text-transform: none;
}

.collaborate-container {
  background-color: #89c9b8;
  height: 300px;
  width: 100%;
  padding: 20px;
  color: #092532;
  text-align: center;
}

.bottom-container {
  background-color: #c7e2b2;
  height: 120px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.bottom-container a,
.bottom-container a:hover,
.bottom-container a:visited,
.bottom-container a:focus {
  color: #092532 !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;

  display: inline-block;
  position: relative;
}

.go-to {
  color: #092532 !important;
}

.go-to:hover {
  text-decoration: underline !important;
}

.bottom-container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #092532;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.f-9 {
  font-size: 0.8rem;
}

.bottom-container a:hover:after {
  width: 100%;
  left: 0;
}
